.gallery-container {
  margin: 0 2em;

  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .image-item {
      display: flex;
      flex-direction: column;
      padding-bottom: 1em;

      img {
        min-height: 250px;
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

@media only screen and (min-width: 768px) {
  .image-item {
    flex: 0 0 calc(25% - 1em);
  }
}

@media only screen and (max-width: 768px) {
  .image-item {
    flex: 1 0 100%;
  }
}
